/* o "*" seleciona todas as tags */
*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}

/* o espaço vai formatar o h1 dentro do header */
header h1{
    background-color: #1E6C7D;
    padding: 2em;
    text-align: center;
}

header nav{
    background-color: #125260;
    padding: 2em;
}

header li{
    display: inline-block; /*para colocar um item ao lado do outro*/
    /* inline -> nao recebe largura e altura, só a parte do texto */
    /* block -> pode definir uma largura e altura */
}

header a{
    color: white;
}

main{
    width: 70em;
    margin: 0 auto;
}

main section{
    background-color: #C47969;
    width: 10em;
    height: 15em;
    border-radius: 1em;
    padding: 2em;
    margin: 2em;
    float: left; /*flutuar para a esquerda (ou seja, fica um ao lado do outro)*/
}