*{
    margin: 0;
    padding: 0;
}

header, footer{
    text-align: center;
    background-color: purple;
    color: white;
}

main p{
    margin: 5em 1em;
}

div.box{
    width: 200px;
    height: 200px;
    padding: 2em;
    background-color: lightgoldenrodyellow;
    box-sizing: border-box; /* esse atributo não altera a altura e largura quando se aplica o padding */
    position: absolute;  /* permite que o componente fique sobre outros elementos da página */
    top: 100px; /* ou bottom */
    left: 100px; /* ou right */
    /* top, left, bottom e right só podem ser usados com o position */
    z-index: 3; /* define a ordem no eixo z - só pode-se usar inteiros positivos */
}

div.box2{
    background-color: lightskyblue;
    top: 200px;
    left: 200px;
    z-index: 2;
}

div.box3{
    background-color: lavenderblush;
    top: 300px;
    left: 300px;
    z-index: 1;
}

header{
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
}