*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(bg.png);
}

header{
    display: flex;
    margin-top: 32px;
}

header h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 0.6em; /*espaçamento entre linhas*/
    color: white;
    width: 20%;
    margin-left: 40%;
    width: 20%;
    margin-right: 30%;
}

img{
    float: left;
}

header h1 span.nome{
    display: inline-block;
    padding-top: 0.7em;
    padding-left: 0.2em;
}

header h1 span.sub{
    font-size: 0.5em;
    color: white;
    padding-left: 0.5em;
}

header li{
    text-decoration: none;
    display: inline-block;
}

main ul{
    text-decoration: none;
    width: 60%;
    margin: 0 auto;
}

main li{
    display: inline-block;
    margin: 2.5em;
    border: 1.5px solid black; 
}

footer ol{
    background-color: #0F572C;
    color: white;
    border-radius: 2em;
    width: 25%;
    margin: 0 auto;
    padding: 0.8em;
    text-align: center;
    margin-bottom: 2.5em;
}

footer li{
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8em;
    padding-inline: 8%;
}
